.header-container, .main-content { 
    min-width: 320px;
    max-width: 640px;
    padding: 0 6.25% 0 6.25%;
    text-align: center;
}

@media (min-width: 320px) and (max-width: 640px) {
    background-image: url("img/football_767.jpg");
    
}
