@font-face {
  font-family: 'OpenSans'; 
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), 
  url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Bold.woff") format("woff"),
  url("/fonts../OpenSans-Bold.woff2") format("woff2"), url("/fonts../OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; 
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: Open Sans, Arial, san-serif;
}

.wrap {
    min-width: 320px;
    max-width: 1920px;
}
.header {
    background-image: url("../img/football_767.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
    position: relative;
    
    padding-top: 34px;
    padding-bottom: 84px;
}
    
.header::after {
    content: "";
    background-color: #0a0e34;
    opacity: 0.89;
    position: absolute;
        
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
}
    
.header-container {
    z-index: 1;
    position: relative;
    padding-left: 6.25%;
    padding-right: 6.25%;
    text-align: center;
}
    
.logo {
    width: calc(17vw + 82px);
}
    
.header-title {
    margin-top: 135px;
    margin-bottom: 88px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
    font-size: calc(11.215vw - 7.89px);
}
    
.header-title-text {
    display: inline-block;
    letter-spacing: 1.3px;
    
}

.header-title-text:nth-child(1) {
    margin-bottom: 16px;
}

.header-title-text:nth-child(2) {
    margin-left: 14vmin;
    line-height: 1.2;    
}
    
.top-link {
    width: 100%;        
}      

.link-button {
    display: flex;
    padding: 6px 0;
    justify-content: center;
    line-height: 3px;
    
    border-radius: 20px;
    background-color: #5f3eb3;
    border: none;
    text-decoration: none;
    
    letter-spacing: 0.5px;
}

.link-button:nth-child(n+2) {
    margin-top: 15px;
    padding-left: 7px;
    padding-right: 28px;
}
     
.logo-link {
    width: 24px;
    fill: #ffffff;
    margin-right: 7px;
}
    
.link-text {
    text-align: left;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 8px;
    font-weight: normal;
    letter-spacing: 0.5px;
    } 

.link-text:last-child {
    font-weight: bold;
}

.section-athlets {
    width: 100%;
}

.section-container {
    position: relative;
    width: 87%;
    margin: 0 auto;
}

.section-title {
    color: #e7e7e7;
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 230px;
    margin-top: 8px;
    text-align: left;
}

/*.image-athlets {
    position: absolute;
    z-index: 1;
    right: calc(32% - 40px);
    top: 70px;  
}*/

.image-athlets {
    margin: auto;
    position: absolute;
    top: 36rem; left: 0; bottom: 0; right: 0;
    z-index: 1;
}

.athlets-list {
    padding-left: 0;
    list-style-type: none;
    margin: 0;
}

.list-item {
    position: relative;
}

.item-number {
    position: absolute;
    display: inline-block;
    left: 6.2%;
    top: 10.6rem;
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-weight: 900;
}

.item-number::after {
  content: '';
  position: absolute;
  top: 1.9rem;
  height: 0.4rem;
  width: 1.7rem;
  background-color: #5e42b0;
  border-radius: 25%;
}

.section-players .list-item:last-child .item-number {
    color: #5e42b0;
}

.list-item:nth-child(n+2) .item-number {
    top: 8.3rem;
}

.list-item:last-child .item-number::after {
    background-color: #ffffff;
}

.li-container {
    width: 88%;
    margin: 0 auto;
}

.item-header {
    margin: 1.6rem 0;
    font-size: 28px;
    color: #c1c1c1;
    text-transform: uppercase;
    padding-left: 2.5rem;
    letter-spacing: 0.15rem;
}

.item-content {
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 0.8px;
    font-weight: normal;
}

.list-item:first-child {
    background-color: #fafafa;
    padding-top: 83px;
    padding-bottom: 55px;
}

.list-item:nth-child(2) {
    background-color: #f5f4f9;
    padding-top: 60px;
    padding-bottom: 55px;
}

.list-item:last-child {
    background-color: #5e42b0;
    padding-top: 60px;
    padding-bottom: 55px;
}

.list-item:last-child .item-content {
    color: #ffffff;
}

.image-players {
    margin: auto;
    position: absolute;
    top: 36rem; left: -1.2rem; bottom: 0; right: 0;
    z-index: 1;
}

.section-players .list-item:last-child {
    background-color: #090c35;
}

.section-players .list-item:last-child::before {
    color: #8765dd;
}

.teamwork {
    width: 100%;
    padding-bottom: 0;
}

.teamwork-container {
    position: relative;
    width: 88%;
    padding-bottom: 61px;
    margin: 0 auto;
}

.teamwork-view img {
    width: 100%;
}

/*.teamwork-die {
    position: absolute;
    display: inline-block;
    background-color: #5e42b0;
    top: -60px;
    width: 70px;
    height: 70px;
    z-index: 1;
}*/ 

.teamwork-number {
    position: absolute;
    top: -82px;
    left: 0px;
    font-size: 14px;
    letter-spacing: 0.8px;
    font-weight: bold;
    color: #ffffff;
    border: 2.6rem solid #5e42b0;
    background-color: #5e42b0;
}

.teamwork-number::after {
  content: '';
  position: absolute;
  top: 1.9rem;
  height: 0.43rem;
  width: 1.7rem;
  background-color: #8f7bc8;
  left: 47%;
  transform: translateX(-50%);
  border-radius: 25%;
}

.teamwork-header {
    margin-top: 21px;
    margin-bottom: 0;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #e7e7e7; 
}

.teamwork-content {
    margin-top: 13px;
    font-size: 16px;
    letter-spacing: 0.8px;
    line-height: 1.3;
}

.footer {
    background-image: url("../img/game_767.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    position: relative;
}

.footer::after {
    content: "";
    background-color: #0a0e34;
    opacity: 0.89;
    position: absolute;
        
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
}

.footer-container {
    z-index: 1;
    position: relative;
    padding-left: 6.25%;
    padding-right: 6.25%;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 0;
}

.footer-top-link {
    display: inline-block;
    width: 7.2rem;
    padding: 1.1rem;
    background: -webkit-linear-gradient(top, #6d4ec9, #52389d);
    box-sizing: border-box;
    border-radius: 24%;
}

.surface-logo {
    fill: #ffffff;
}

.footer-content {
    margin-bottom: 5.2rem;
}

.footer-content span {
    display: block;
}

.footer-title {
    margin-top: 5.3rem;
    margin-bottom: 0;
    font-size: 3.2rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.footer-text {
    color: #9b8ec1;
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-top: 0;
}

.top-link {
    margin-bottom: 7.4rem;
}
