@font-face {
  font-family: 'OpenSans'; 
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), 
  url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("TrueType");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
  url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("TrueType");
  font-weight: bold;
  font-style: bold; 
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: OpenSans, Arial, san-serif;
}

.wrap {
    min-width: 320px;
    max-width: 1920px;
}

.header {
    background-image: url("../img/football_767.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
    position: relative;
    
    padding-top: 35px;
    padding-bottom: 84px;
}
    
.header::after {
    content: "";
    background-color: #0a0e34;
    opacity: 0.89;
    position: absolute;
        
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
}

@media (min-width: 641px) and (max-width: 960px) {
    .header {
        padding-bottom: 93px;
        background-image: url("../img/football_1280.jpg");
    }
}

@media (min-width: 961px) {
    .header {
        padding-bottom: 108px;
        background-image: url("../img/football_1920.jpg");
    }
}
    
.header-container {
    z-index: 1;
    position: relative;
    padding-left: 6.25%;
    padding-right: 6.25%;
    text-align: center;
}

@media (min-width: 641px) and (max-width: 960px) {
    .header-container {
          padding: 0 3.2% 0 3.2%;
    }
}

@media (min-width: 961px) {
    .header-container {
         padding: 0 1% 0 1%;
    }
}

.logo {
    width: calc(0.5vw + 130px);
}

@media (min-width: 641px) and (max-width: 960px) {
    .logo {
        width: calc(0.5vw + 210px);
    }
}

@media (min-width: 961px) {
    .logo {
        width: 19.9rem;
    }
}
    
.header-title {
    margin-top: 150px;
    margin-bottom: 86px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
    font-size: calc(10.215vw - 7.89px);
}

@media (min-width: 641px) and (max-width: 960px) {
    .header-title {
        margin-top: 180px;
        font-size: calc(9.415vw - 6.6px);
        margin-bottom: 0px;
    }
}

@media (min-width: 961px) {
    .header-title {
        margin-top: 29.4rem;
        margin-bottom: 22.3rem;
        font-size: calc(0.9vw + 7.639rem);
    }
}
    
.header-title-text {
    display: inline-block;
    letter-spacing: 2px; 
}

.header-title-text:nth-child(2) {
    margin-left: calc(0.1vmin + 45px);
    line-height: 1.2;    
}

@media (min-width: 641px) and (max-width: 960px) {
    .header-title-text:nth-child(2) {
         margin-left: calc(0.01vmin + 164px);
    }
    .header-title-text:nth-child(1) {
        margin: 0 0 0 55px;
    }
}

@media (min-width: 961px) {
    .header-title-text:nth-child(2) {
        display: flex;
        justify-content: flex-end;
        margin: 0;
    }
    
    .header-title-text:nth-child(1) {
        text-align: left;
    }
}
    
.top-link {
    width: 100%;        
} 

@media (min-width: 641px) {
    .top-link {
        display: flex;
        justify-content: center;
        margin-top: 311px;
    }
}

@media (min-width: 641px) and (max-width: 960px) {
    .top-link {
        margin-top: 286px;
        margin-bottom: 55px;
    }
}

@media (min-width: 961px) {
    .top-link {
        margin: 0;
    }
}
        
.link-button {
    display: flex;
    padding: 6px 0;
    justify-content: center;
    line-height: 3px;
    
    border-radius: 20px;
    background-color: #5f3eb3;
    border: none;
    text-decoration: none;
    
    letter-spacing: 0.5px;
}

.link-button:nth-child(n+2) {
    margin-top: 15px;
    padding-left: 7px;
    padding-right: 28px;
}

@media (min-width: 641px) {
    .top-link .link-button {
        width: 310px;
        height: 33px;
        padding: 17px 0;
        margin: 0px;
        border-radius: 50px;
        align-items: center;
    }
    .link-button:last-child {
        margin-left: 27px;
    }
}

@media (min-width: 961px) {
    .link-button:last-child {
        margin-left: 47px;
    }
}
     
.logo-link {
    width: 24px;
    fill: #ffffff;
    margin-right: 7px;
}

@media (min-width: 641px) {
    .logo-link {
        width: 35px;
        margin-right: 20px;
    }
}
    
.link-text {
    text-align: left;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 8px;
    font-weight: normal;
    letter-spacing: 0.5px;
    } 

.link-text:last-child {
    font-weight: bold;
}

@media (min-width: 641px) {
    .link-text {
        font-size: 14px;
        line-height: 0.21;
    }
}

.section-athlets {
    width: 100%;
}

.section-players {
    width: 100%;
}

.section-container {
    position: relative;
    width: 87.5%;
    margin: 0 auto;
}

.section-title {
    color: #e7e7e7;
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 245px;
    margin-top: 25px;
    text-align: left;
}

@media (min-width: 641px) and (max-width: 960px) {
    .section-title {
        margin-top: 8.6rem;
        margin-left: 37%;
        font-size: 8rem;
        margin-bottom: 0px;
    }
}

@media (min-width: 961px) {
    .section-title {
        margin-top: 11.7rem;
        margin-left: 53.4%;
        margin-bottom: 10.9rem;
        font-size: 8rem;
        line-height: 60px;
    }
}

.picture-athlets {
        margin: auto;
        position: absolute;
        z-index: 1;
        top: 10.5rem; left: calc(17.9% + 5px); bottom: 0; right: 0;
    }

@media (min-width: 420px) and (max-width: 640px) {
    .picture-athlets {
        left: calc(34% + 10px);
    }
}

@media (min-width: 641px) and (max-width: 960px) {
    .picture-athlets {
        top: 6rem;
        left: calc(18vw - 381px);
    }
}

@media (min-width: 961px) {
    .picture-athlets {
        top: -10rem;
    }
}

@media (min-width: 961px) and (max-width: 1160px) {
    .picture-athlets {
        top: -10rem;
        left: calc(11vw - 231px);
    }
}

@media (min-width: 1161px) and (max-width: 1556px) {
    .picture-athlets {
        top: -10rem;
        left: calc(17.5vw - 231px);
    }
}

@media (min-width: 1557px) {
     .picture-athlets {
        left: calc(22vw - 231px);
    }
}

.athlets-list {
    padding-left: 0;
    list-style-type: none;
    margin: 0;
}

.list-item {
    position: relative;
    padding-bottom: 55px;
}

@media (min-width: 641px) and (max-width: 960px) {
    .list-item {
        padding-bottom: 37px;
    }
}

@media (min-width: 961px) {
    .list-item {
        padding-bottom: 37px;
    }
}

.item-number {
    position: absolute;
    display: inline-block;
    left: 6.25%;
    top: 8.3rem;
    letter-spacing: 1px;
    font-size: 1.4rem;
    font-weight: bold;
}

@media (min-width: 641px) and (max-width: 960px) {
    .item-number {
        left: 38%;
        top: 4.58rem;
        font-size: 1.8rem;
    }
}

@media (min-width: 961px) {
    .item-number {
        left: 53%;
        top: 0.1rem;
        font-size: 1.8rem;
        letter-spacing: 0.05em;
    }
}

.item-number::after {
  content: '';
  position: absolute;
  top: 2rem;
  transform: translateX(-110%);
  height: 0.4rem;
  width: 1.6rem;
  background-color: #5e42b0;
  border-radius: 25%;
}

@media (min-width: 641px) {
    .item-number::after {
        top: 2.46rem;
        width: 1.9rem;
    }
}

.section-players .list-item:last-child .item-number {
    color: #8765dd;
}

@media (min-width: 641px) {
    .section-players .section-title {
        margin-left: -4.4%;
    }
    
    .section-players .li-container {
        margin-left: 2.9%;
        padding-left: 0px;
    }
    
    .section-players .item-number {
        left: 2.9%;
    }
}

@media (min-width: 961px) {
    .section-players .li-container {
        margin-left: 0;
        padding: 0 0 0 1%;
    }
    .section-players .section-title {
        margin-left: -6.2%;
    }
    .section-players .item-number {
        left: 1.1%;
    }
    .section-players .item-header {
        padding-left: 3.3rem;
    }
}

.list-item:nth-child(n+2) .item-number {
    top: 6.1rem;
}

@media (min-width: 641px) and (max-width: 960px) {
    .list-item:nth-child(n+2) .item-number {
        top: 4.59rem;
    }
}

@media (min-width: 961px) {
    .list-item:nth-child(2) .item-number {
        top: 5.95rem;
    }
    .list-item:last-child .item-number {
        top: 4rem;
    }
}

.list-item:last-child .item-number::after {
    background-color: #ffffff;
}

.li-container {
    width: 87.5%;
    margin: 0 auto;
}

@media (min-width: 641px) and (max-width: 960px) {
    .li-container {
        width: 58.9%;
        padding: 0 2.9% 0 2.9%;
        margin-right: 0px;
    }
}

@media (min-width: 961px) {
    .li-container {
        width: 45.8%;
        margin-right: 0;
        padding-right: 1%;
    }
}

.item-header {
    margin: 0 0 2.5rem 0;
    font-size: 23px;
    color: #c1c1c1;
    text-transform: uppercase;
    padding-left: 2.59rem;
    letter-spacing: 0.15rem;
}

.item-content {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.8px;
    font-weight: normal;
}

@media (min-width: 641px) and (max-width: 960px) {
    .item-header {
        padding-left: 32px;
        font-size: 32px;
        padding-top: 40px;
        margin-bottom: 2.8rem;
    }
    
    .item-content {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 0px;
    }
}

@media (min-width: 961px) {
    .item-header {
        font-size: 3.6rem;
        line-height: 34.5px;
        letter-spacing: 0.05em;
    }
    
    .item-content {
        margin: 0;
        font-size: 2rem;
        line-height: normal;
        letter-spacing: 0.05em;
    }
}

.list-item:first-child {
    background-color: #fafafa;
    padding-top: 80px;
}

@media (min-width: 641px) {
    .list-item:first-child {
        background-color: #ffffff;
        padding-top: 0px;
    }
}

.list-item:nth-child(2) {
    background-color: #f5f4f9;
    padding-top: 58px;
}

@media (min-width: 641px) and (max-width: 960px) {
    .list-item:nth-child(2) {
        padding-top: 0px;
    }
}


@media (min-width: 961px) {
    .list-item:nth-child(2) {
        padding-top: 6rem;
        padding-bottom: 5.4rem;
    }
    .section-players .list-item:nth-child(2) {
        padding-bottom: 8.8rem;
    }
    .section-players .list-item:nth-child(2) .item-header {
        margin-bottom: 4rem;
    }
}

.list-item:last-child {
    background-color: #5e42b0;
    padding-top: 58px;
}

@media (min-width: 641px) and (max-width: 960px) {
    .list-item:last-child {
        padding-top: 0px;
    }
}

@media (min-width: 961px) {
    
    .list-item:last-child {
        padding-top: 40px;
    }
}

.list-item:last-child .item-content {
    color: #ffffff;
}

.picture-players {
    margin: auto;
    position: absolute;
    top: 11rem; left: 0; bottom: 0; right: 0;
    z-index: 1;
    }

@media (min-width: 370px) and (max-width: 459px) {
    
    .picture-players {
        left: calc(10% + 10px);
    }
}

@media (min-width: 460px) and (max-width: 640px) {
    
    .picture-players {
    left: calc(18% + 10px);
    }
}

@media (min-width: 641px) and (max-width: 960px) {
    
    .picture-players {
        top: -4.5rem;
        text-align: right;
        right: -7%;
    }
}

@media (min-width: 961px) {
    .picture-players {
        top: -10.5rem;
        right: -7%;
        text-align: right;
    }
}

@media (min-width: 1301px) {
    
    .picture-players {
        text-align: right;
        right: -6%;
    }
}

.section-players .list-item:last-child {
    background-color: #090c35;
}

.section-players .list-item:last-child::before {
    color: #8765dd;
}

.teamwork {
    width: 100%;
    padding-bottom: 0;
}

@media (min-width: 961px) {
    .teamwork {
        display: flex;
    }
}

@media (min-width: 961px) {
    .teamwork:nth-child(4) {
        flex-direction: row-reverse;
    }
}

.teamwork-container {
    width: 87.5%;
    padding-bottom: 78px;
    margin: 0 auto;
    position: relative;
}


@media (min-width: 641px) and (max-width: 960px) {
    .teamwork-container {
        margin: 0;
        padding: 0 2.9% 0 2.9%;
        padding-bottom: 96px;
    }
}

@media (min-width: 961px) {
    .teamwork-container {
        box-sizing: border-box;
        width: 50%;
        padding-bottom: 0;
    }
}

.teamwork-view img {
    width: 100%;
}

@media (min-width: 961px) {
    .teamwork-view {
        width: 50%;
    }
}

@media (min-width: 961px) {
    .teamwork:nth-child(4) .teamwork-view {
        margin-top: calc(0.1% - 4px);
    }
    
    .teamwork:nth-child(5) .teamwork-view {
        margin-top: calc(0.1% - 4px);
        margin-bottom: -1px;
    }
}

.teamwork-number {
    position: absolute;
    top: -95px;
    left: 0px;
    font-size: 14px;
    letter-spacing: 0.8px;
    font-weight: bold;
    color: #ffffff;
    border: 2.621rem solid #5e42b0;
    background-color: #5e42b0;
}

.teamwork-number::after {
  content: '';
  position: absolute;
  top: 1.96rem;
  height: 0.4rem;
  width: 1.75rem;
  background-color: #8765dd;
  left: 40%;
  transform: translateX(-50%);
  border-radius: 25%;
}

@media (min-width: 641px) and (max-width: 960px) {
    .teamwork-number {
        top: -19rem;
        left: 2.6rem;
        border: 4.79rem solid #5e42b0;
        font-size: 24px;
        letter-spacing: 1px;
    }
    .teamwork-number::after {
        top: 3.3rem;
        height: 0.49rem;
        width: 2.5rem;
    }
}

@media (min-width: 961px) {
    
    .teamwork-number {
        top: 34%;
        transform: translateY(-35%);
        border: calc(3.2vw + 0.09rem) solid #5e42b0;
        letter-spacing: 1px; 
        left: -6rem; 
    }
    
    .teamwork:nth-child(n+4) .teamwork-number {
        top: 33%;
    }
}

@media (min-width: 961px) and (max-width: 1300px) {
    .teamwork-number {
        font-size: 18px;
    }
    .teamwork-number::after {
        top: 2.5rem;
        width: 2.2rem;
        transform: translateX(-45%);
    }
}

@media (min-width: 1301px) {
    .teamwork-number {
        font-size: 24px;
    }
    .teamwork-number::after {
        top: 3.2rem;
        width: 2.7rem;
        transform: translateX(-45%);
    }
}

@media (min-width: 961px) and (max-width: 1100px) {
    .teamwork-number {
        left: calc(2.6rem - 15.35%);    
    }
    .teamwork:nth-child(4) .teamwork-number {
        left: calc(2.6rem + 84.6%);
    }
}

@media(min-width: 1101px) and (max-width: 1260px) {
    .teamwork-number {
        left: calc(2.6rem - 13.6%);   
    }
    .teamwork:nth-child(4) .teamwork-number {
        left: calc(2.6rem + 86.6%);
    }
}

@media(min-width: 1261px) and (max-width: 1556px) {
    .teamwork-number {
        left: calc(2.6rem - 12.6%);   
    }
    .teamwork:nth-child(4) .teamwork-number {
        left: calc(2.6rem + 87.3%);
    }
}

@media(min-width: 1557px) {
    .teamwork-number {
        left: calc(2.6rem - 11.6%);   
    }
    .teamwork:nth-child(4) .teamwork-number {
        left: calc(2.6rem + 88.35%);
    }
}

    
.teamwork-header {
    margin-top: 34px;
    margin-bottom: 0;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #e7e7e7; 
}

.teamwork-content {
    margin: 23px 0 0;
    font-size: 16px;
    letter-spacing: 0.8px;
    line-height: 1.3;
}

@media (min-width: 641px) and (max-width: 960px) {
    .teamwork-header {
        margin-top: 90px;
        margin-left: -0.4%;
        font-size: 80px;
        letter-spacing: 1px;
    }
    
    .teamwork-content {
        font-size: 24px;
        line-height: 28px;
    }
}

@media (min-width: 961px) {
    .teamwork-header {
        padding-left: 15%;
        letter-spacing: 0;
        margin-top: 0;
        margin-bottom: 7.1%;
        padding-top: 20.65%;
    }
    
    .teamwork:nth-child(4) .teamwork-header {
        margin-bottom: 4%;
        padding-left: 6%;
    }
    
    .teamwork:nth-child(4) .teamwork-content {
        padding-left: 6%;
    }
    
    .teamwork-content {
        padding-left: 15%;
        padding-right: 33px;
        margin: 0;
        font-size: 21px;
        
    } 
}

@media (min-width: 961px) and (max-width: 1300px) {
    .teamwork-content {
        font-size: 19px;
    }
}

@media (min-width: 1301px) {
    .teamwork-content {
        font-size: 24px;
        line-height: 28px;
    }
}

@media (min-width: 961px) and (max-width: 1365px) {
    .teamwork-header {
        font-size: calc(2vw + 4.28rem);
    }
}

@media (min-width: 961px) and (max-width: 988px) {
    .teamwork:nth-child(4) .teamwork-header {
        padding-left: 6%;
    }
    .teamwork:nth-child(4) .teamwork-content {
        padding-left: 6%;
    }
}

@media (min-width: 989px) and (max-width: 1120px) {
    .teamwork:nth-child(4) .teamwork-header {
        padding-left: 1%;
        padding-right: 9.5%;
    }
    .teamwork:nth-child(4) .teamwork-content {
        padding-left: 1%;
    }
}

@media (min-width: 1121px) {
    .teamwork:nth-child(4) .teamwork-header {
        padding-left: 1%;
        padding-right: 0;
    }
    .teamwork:nth-child(4) .teamwork-content {
        padding-left: 1%;
    }
}

@media (min-width: 1366px) {
    .teamwork-header {
        font-size: 8rem;
    }
    
}

.footer {
    background-image: url("../img/game_767.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    position: relative;
}

@media (min-width: 641px) and (max-width: 960px) {
    .footer {
        background-image: url("../img/game_1280.jpg");
    }
}

@media (min-width: 961px) {
    .footer {
        background-image: url("../img/game_1920.jpg");
    }
}

.footer::after {
    content: "";
    background-color: #0a0e34;
    opacity: 0.89;
    position: absolute;
        
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
}

.footer-container {
    z-index: 1;
    position: relative;
    padding-left: 6.25%;
    padding-right: 6.25%;
    text-align: center;
    padding-top: 12.7rem;
    padding-bottom: 0;
}

.footer-top-link {
    display: inline-block;
    width: 7.2rem;
    padding: 1.1rem;
    background: -webkit-linear-gradient(top, #6d4ec9, #52389d);
    box-sizing: border-box;
    border-radius: 24%;
}

@media (min-width: 641px) and (max-width: 960px) {
    .footer-container {
        padding-left: 4%;
        padding-right: 4%;
    }
    
    .footer-top-link {
        width: 10.4rem;
        padding: 17px 11px;
    }
}

@media (min-width: 961px) {
    .footer-container {
        margin-top: -0.19%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 20.2rem;
        padding-bottom: 4.5rem;
    }
    .footer-top-link {
        width: 11.5rem;
        height: 11.5rem;
    }
}

.surface-logo {
    fill: #ffffff;
}

.footer-content {
    margin-bottom: 7.7rem;
}

@media (min-width: 961px) {
    .footer-content {
        margin-top: -1.7rem;
        margin-bottom: 13.6rem;
        margin-left: 2.7rem;
    }
}

.footer-content span {
    display: block;
}

.footer-title {
    margin-top: 5.8rem;
    margin-bottom: 0;
    font-size: 3.2rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.footer-text {
    color: #9b8ec1;
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-top: 0;
}

@media (min-width: 641px) and (max-width: 960px) {
    .footer-title {
        font-size: 8rem;
        letter-spacing: 1.7;
    }
    .footer-text {
        font-size: 3.6rem;
    }
}

@media (min-width: 961px) {
    .footer-title {
        margin-top: 0px;
        font-size: 8rem;
        letter-spacing: 0.05em;
    }
    
    .footer-text {
        font-size: 3rem;
        text-align: left;
        line-height: 10px;
        margin-top: 0.8rem;
    }
}

.footer .top-link {
    margin-bottom: 22.58rem;
}

.footer .logo {
    padding-bottom: 10px;
}

@media (min-width: 641px) and (max-width: 960px) {
    .footer .logo {
    padding-bottom: 22px;
    }
}

@media (min-width: 961px) {
    .footer .logo {
        padding-bottom: 0px;
    }
}
