@font-face {
  font-family: 'OpenSans'; 
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), 
  url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Bold.woff") format("woff"),
  url("/fonts../OpenSans-Bold.woff2") format("woff2"), url("/fonts../OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; 
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: Open Sans, Arial, san-serif;
}

.wrap {
    min-width: 320px;
    max-width: 1920px;
}
.header {
    background-image: url("../img/football_767.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
    position: relative;
    
    padding-top: 34px;
    padding-bottom: 84px;
}
    
.header::after {
    content: "";
    background-color: #0a0e34;
    opacity: 0.89;
    position: absolute;
        
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
}

@media (min-width: 641px) {
    .header {
        padding-bottom: 15px;
    }
}
    
.header-container {
    z-index: 1;
    position: relative;
    padding-left: 6.25%;
    padding-right: 6.25%;
    text-align: center;
}

.logo {
    width: calc(17vw + 82px);
}
    
.header-title {
    margin-top: 135px;
    margin-bottom: 88px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;
    font-size: calc(10.215vw - 7.89px);
}

@media (min-width: 641px) and (max-width: 960px) {
    .header-title {
        font-size: calc(4vw + 27px);
        margin-left: 43px;
    }
}
    
.header-title-text {
    display: inline-block;
    letter-spacing: 1.3px; 
}

.header-title-text:nth-child(1) {
    margin-bottom: 16px;
}

.header-title-text:nth-child(2) {
    margin-left: 14vmin;
    line-height: 1.2;    
}

@media (min-width: 641px) and (max-width: 960px) {
    .header-title-text:nth-child(2) {
         margin-left: calc(14.015vmin - 6.89px);
    }
    .header-title-text:nth-child(1) {
        margin-bottom: 0;
    }
}
    
.top-link {
    width: 100%;        
} 

@media (min-width: 641px) {
    .top-link {
        display: flex;
        justify-content: center;
        margin-top: 285px;
    }
}
        
.link-button {
    display: flex;
    padding: 6px 0;
    justify-content: center;
    line-height: 3px;
    
    border-radius: 20px;
    background-color: #5f3eb3;
    border: none;
    text-decoration: none;
    
    letter-spacing: 0.5px;
}

.link-button:nth-child(n+2) {
    margin-top: 15px;
    padding-left: 7px;
    padding-right: 28px;
}

@media (min-width: 641px) {
    .top-link .link-button {
        width: 310px;
        height: 33px;
        padding: 17px 0;
        margin: 0px;
        border-radius: 50px;
        align-items: center;
    }
    .link-button:last-child {
        margin-left: 27px;
    }
} 
     
.logo-link {
    width: 24px;
    fill: #ffffff;
    margin-right: 7px;
}

@media (min-width: 641px) {
    .logo-link {
        width: 35px;
        margin-right: 20px;
    }
}
    
.link-text {
    text-align: left;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 8px;
    font-weight: normal;
    letter-spacing: 0.5px;
    } 

.link-text:last-child {
    font-weight: bold;
}

@media (min-width: 641px) {
    .link-text {
        font-size: 14px;
        line-height: 0.21;
    }
}

.section-athlets {
    width: 100%;
}

.section-players {
    width: 100%;
}

.section-container {
    position: relative;
    width: 87%;
    margin: 0 auto;
}

.section-title {
    color: #e7e7e7;
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 230px;
    margin-top: 8px;
    text-align: left;
}

@media (min-width: 641px) and (max-width: 960px) {
    .section-title {
        margin-top: 4rem;
        margin-left: 35%;
        font-size: 8rem;
        margin-bottom: 0px;
    }
}

.picture-athlets {
    margin: auto;
    position: absolute;
    z-index: 1;
    top: 7rem; left: calc(34% + 10px); bottom: 0; right: 0;
}

@media (min-width: 641px) and (max-width: 960px) {
    .picture-athlets {
        top: 4rem;
        left: calc(18vw - 381px);
    }
}

.athlets-list {
    padding-left: 0;
    list-style-type: none;
    margin: 0;
}

.list-item {
    position: relative;
    padding-bottom: 55px;
}

@media (min-width: 641px) and (max-width: 960px) {
    .list-item {
        padding-bottom: 15px;
    }
}

.item-number {
    position: absolute;
    display: inline-block;
    left: 6.2%;
    top: 10.6rem;
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-weight: 900;
}

@media (min-width: 641px) and (max-width: 960px) {
    .item-number {
        left: 37%;
        top: 3.2rem;
        font-size: 1.6rem;
    }
}

.item-number::after {
  content: '';
  position: absolute;
  top: 1.9rem;
  height: 0.4rem;
  width: 1.7rem;
  background-color: #5e42b0;
  border-radius: 25%;
}

@media (min-width: 641px) and (max-width: 960px) {
    .item-number::after {
        top: 2.2rem;
        width: 1.8rem;
    }
}

.section-players .list-item:last-child .item-number {
    color: #5e42b0;
}

@media (min-width: 641px) and (max-width: 960px) {
    .section-players .section-title {
        margin-left: -3%;
    }
    
    .section-players .li-container {
        margin-left: 4.5%;
    }
    
    .section-players .item-number {
        left: 4.5%;
    }
}

.list-item:nth-child(n+2) .item-number {
    top: 8.3rem;
}

@media (min-width: 641px) and (max-width: 960px) {
    .list-item:nth-child(n+2) .item-number {
        top: 3.2rem;
    }
}

.list-item:last-child .item-number::after {
    background-color: #ffffff;
}

.li-container {
    width: 88%;
    margin: 0 auto;
}

@media (min-width: 641px) and (max-width: 960px) {
    .li-container {
        width: 61%;
        margin-right: 2%;
    }
}

.item-header {
    margin: 1.6rem 0;
    font-size: 28px;
    color: #c1c1c1;
    text-transform: uppercase;
    padding-left: 2.5rem;
    letter-spacing: 0.15rem;
}

.item-content {
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 0.8px;
    font-weight: normal;
}

@media (min-width: 641px) and (max-width: 960px) {
    .item-header {
        font-size: 35px;
    }
    
    .item-content {
        font-size: 16px;
        line-height: 1.7;
    }
}

.list-item:first-child {
    background-color: #fafafa;
    padding-top: 83px;
}

@media (min-width: 641px) and (max-width: 960px) {
    .list-item:first-child {
        background-color: #ffffff;
        padding-top: 10px;
    }
}

.list-item:nth-child(2) {
    background-color: #f5f4f9;
    padding-top: 60px;
}

@media (min-width: 641px) and (max-width: 960px) {
    .list-item:nth-child(2) {
        padding-top: 10px;
    }
}

.list-item:last-child {
    background-color: #5e42b0;
    padding-top: 60px;
}

@media (min-width: 641px) and (max-width: 960px) {
    .list-item:last-child {
        padding-top: 10px;
    }
}

.list-item:last-child .item-content {
    color: #ffffff;
}

.picture-players {
    margin: auto;
    position: absolute;
    top: 8rem; left: calc(18% + 10px); bottom: 0; right: 0;
    z-index: 1;
}

@media (min-width: 641px) and (max-width: 960px) {
    
    .picture-players {
        margin: auto;
        position: absolute;
        top: -4.5rem;
        text-align: right;
        right: -7%;
    }
}

/*@media (min-width: 823px) and (max-width: 960px) {
    .picture-players {
        top: -3.5rem;
        left: calc(38.5vw + 9%);
    }
}*/

.section-players .list-item:last-child {
    background-color: #090c35;
}

.section-players .list-item:last-child::before {
    color: #8765dd;
}

.teamwork {
    width: 100%;
    padding-bottom: 0;
}

.teamwork-container {
    position: relative;
    width: 88%;
    padding-bottom: 61px;
    margin: 0 auto;
}

@media (min-width: 641px) and (max-width: 960px) {
    .teamwork-container {
        width: 92%;
        padding-bottom: 71px;
    }
}

.teamwork-view img {
    width: 100%;
}

.teamwork-number {
    position: absolute;
    top: -82px;
    left: 0px;
    font-size: 14px;
    letter-spacing: 0.8px;
    font-weight: bold;
    color: #ffffff;
    border: 2.6rem solid #5e42b0;
    background-color: #5e42b0;
}

.teamwork-number::after {
  content: '';
  position: absolute;
  top: 1.9rem;
  height: 0.43rem;
  width: 1.7rem;
  background-color: #8f7bc8;
  left: 47%;
  transform: translateX(-50%);
  border-radius: 25%;
}

@media (min-width: 641px) and (max-width: 960px) {
    .teamwork-number {
        top: -10.5rem;
        border: 3.6rem solid #5e42b0;
        font-size: 16px;
        letter-spacing: 1px;
    }
    .teamwork-number::after {
        top: 2.2rem;
    }
}

.teamwork-header {
    margin-top: 21px;
    margin-bottom: 0;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #e7e7e7; 
}

.teamwork-content {
    margin-top: 13px;
    font-size: 16px;
    letter-spacing: 0.8px;
    line-height: 1.3;
}

@media (min-width: 641px) and (max-width: 960px) {
    .teamwork-header {
        margin-top: 35px;
        margin-left: -0.4%;
        font-size: 68px;
        letter-spacing: 1px;
    }
    
    .teamwork-content {
        font-size: 17px;
    }
}

.footer {
    background-image: url("../img/game_767.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    position: relative;
}

.footer::after {
    content: "";
    background-color: #0a0e34;
    opacity: 0.89;
    position: absolute;
        
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
}

.footer-container {
    z-index: 1;
    position: relative;
    padding-left: 6.25%;
    padding-right: 6.25%;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 0;
}

.footer-top-link {
    display: inline-block;
    width: 7.2rem;
    padding: 1.1rem;
    background: -webkit-linear-gradient(top, #6d4ec9, #52389d);
    box-sizing: border-box;
    border-radius: 24%;
}

@media (min-width: 641px) and (max-width: 960px) {
    .footer-container {
        padding-left: 4%;
        padding-right: 4%;
    }
    
    .footer-top-link {
        width: 10.4rem;
    }
}

.surface-logo {
    fill: #ffffff;
}

.footer-content {
    margin-bottom: 5.2rem;
}

.footer-content span {
    display: block;
}

.footer-title {
    margin-top: 5.3rem;
    margin-bottom: 0;
    font-size: 3.2rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.footer-text {
    color: #9b8ec1;
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-top: 0;
}

@media (min-width: 641px) and (max-width: 960px) {
    .footer-title {
        font-size: 6.7rem;
        letter-spacing: 1.7;
    }
    .footer-text {
        font-size: 2.7rem;
    }
}

.top-link {
    margin-bottom: 7.4rem;
}

.logo {
    padding-bottom: 17px;
}
